<div class="card">
  <div class="titre">{{voyage.name}}</div>
  <div class="content">
    Photos du {{voyage.name}} :
    <div class="photos" #masongrid >
      <div #masongriditems class="grid-item" *ngFor="let photo of photos">
        <div *ngIf="this.bigPhoto.id != photo.id">
          <img alt="Photo {{photo.id}}"
               src="http://localhost:5042/api/Photos/GetPhotoById/petites/{{photo.id}}">
        </div>
        <button (click)="deletePhoto(photo.id)">Supprimer la photo</button>
        <button (click)="photoBig(photo.id)">Sélectionner l'image</button>
      </div>
    </div>
  </div>
  <img alt="Photo de {{voyage.name}}" class="img" src="http://localhost:5042/api/Photos/GetPhoto/grosses/{{voyage.id}}"
       width="500" height="auto">
  <form enctype="multipart/form-data" (ngSubmit)="uploadPhoto(voyage.id)">
    <h6>Ajouter une image au Voyage</h6>
    <input #_fileUploadViewChild type="file" name="image"  accept="images/*"/>
    <button>Charger l'image</button>
  </form>
</div>
<div class="selection" *ngIf="localStorage.getItem('bigPic') != null">
  <img alt="Image Sélectionnée"
       src="http://localhost:5042/api/Photos/GetPhotoById/grosses/{{JSON.parse(localStorage.getItem('bigPic')!)}}">
  <button (click)="enlever()">Enlever l'image sélectionnée</button>
</div>


