<div class="card">
  <div class="titre">{{voyage.name}}</div>
  <div class="content">
    Photos du voyage :
    <div class="photos" *ngFor="let photo of photos">
      <img alt="Photo {{photo.id}}" class="img"
           src="http://localhost:5042/api/Photos/GetPhotoById/petites/{{photo.id}}">
      <button (click)="deletePhoto(photo.id)">Supprimer la photo</button>
    </div>
  </div>
  <img alt="Photo de {{voyage.name}}" class="img" src="http://localhost:5042/api/Photos/GetPhoto/grosses/{{voyage.id}}"
       width="500" height="auto">
  <form enctype="multipart/form-data" (ngSubmit)="uploadPhoto(voyage.id)">
    <h6>Ajouter une image au Voyage</h6>
    <input #_fileUploadViewChild type="file" name="image"  accept="images/*"/>
    <button>Charger l'image</button>
  </form>
</div>

