<br><br>
<div class="card">
  <div class="content">
    <div class="conn">
      <form #addVoyage="ngForm" (ngSubmit)="addvoyage(addVoyage)" noValidate>
        <h2>Ajouter un Voyage</h2>
        <input name="nom_voyage" type="text" placeholder="nom voyage" ngModel required #nom_voyage='ngModel'>
        <br><br>
        <button [hidden]="!app.connection">Ajouter ce Voyage</button>
        <div [hidden]="app.connection">Connectez-vous pour ajouter un voyage</div>
      </form>
    </div>
  </div>
</div>
<div *ngFor="let voyage of this.voyages" [hidden]="!app.connection">
  <div class="card">
    <div class="content">
      <div class="conn">
        <h2>{{voyage.name}}</h2>
        <br><br>
        <img alt="imgJapan" ngSrc="{{voyage.img}}" width="600" height="400">
        <button>Supprimer</button>
        <button>Partager</button>
      </div>
    </div>
  </div>
</div>
