.card{
  border: 5px solid black;
  width: fit-content;
  height: auto;
  padding: 2%;
  margin: 2% 8% 2% 8%;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
}

.content{
  display: inline-flex;
  justify-content: center;
}

.conn{
  display: grid;
}

.button{
  padding: 10px;
  margin: 5px;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-column: auto;
  >button{
    padding: 5px;
    margin: 5px;
  }
}
